version: 2.1
orbs:
  cypress: cypress-io/cypress@1.26.0
  node: circleci/node@4.5.0

jobs:
  unit-test:
    docker:
      - image: 'cimg/base:stable'
    steps:
      - checkout
      - node/install:
          install-yarn: true
          install-npm: false
      - run: yarn install

workflows:
  run:
    jobs:
      - cypress/run:
          executor: cypress/base-12-18-3
          yarn: true
          no-workspace: true
          cache-key: yarn-packages-{{ arch }}-{{ checksum "yarn.lock" }}
          build: yarn build
          start: cd example && npm start
          wait-on: 'http://localhost:8000'
  unit-test:
    jobs:
      - unit-test
